html, body, #root {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.App {
  height: 100vh;
  padding: 1vh;
  background-color: rgb(77, 77, 77);
  color: white;
}

.header {
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;
}

#header-title {
  font-weight: bold;
  font-size: 3rem;
}

.taskform-button {
  border: none;
  border-radius: 1vh;
  background-color: rgb(77, 77, 77);
  color: white;
  font-size: 1rem;
  font-weight: bold;
}

.checkbox {
  width: 1em;
  height: 1em;
  border: 1px solid black;
}

.taskform-button:hover {
  background-color: gray;
}

#tasks-div {
  display: flex;
  flex-direction: column;
  gap: 1vh;

}

.close-form-button {
  border: 1px solid black;
  background-color: red;
  width: 1em;
  height: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-form-button:hover {
  background-color: rgb(130, 0, 0);
}

.task-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid black;
  font-size: 1.5rem;
  font-weight: bold;
  padding-left: 1em;
}

.left-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}

.button-div {
  display: flex;
  gap: .5rem
}

.checked {
  background-color: green;
}

.unchecked {
  background-color: black;
}

form {
  display: flex;
  gap: 1em;
}

.form-div {
  display: flex;
  flex: row;
  padding-bottom: 1em;
  justify-content: right;
  align-items: center;
}

.input-div {
  font-size: 1.5em;
  gap: .5em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
